.Header{
   background-color:    rgb(17, 72, 56);
    padding: 1px;
    border-radius: 10px;
    
}
.Header>h1{
    text-align: center;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;

}
#LOGO{
padding-left: 0%;
padding-top: 1px;
height: 50px;
width: 100px;
position: absolute; /* Set the position to absolute */
    top: 0; /* Align to the top */
    left: 0;


}
.Body{
    background-color:bisque;
    margin: 2px;
    border-radius: 10px;
     position: relative; 

}
.inner-Body{
    padding: 30px;
    justify-content: space-between;
    
}

#Sec-1{
width: 134px;
height: 375px;
padding-left: 6px;
padding-right: 20px;
margin: 10px;
border-radius: 5px;
background-color:  rgb(17, 72, 56);

}
#Sec-2{
    height: 35px;
    width: 460px;
    background-color:  rgb(17, 72, 56);
    border-radius: 5px;
    position: absolute; /* Set the position to absolute */
    top: 30px; /* Align to the top */
    left: 550px;
    
    
}
#Sec-3{
    height: 100px;
    width: 100px;
    background-color:  rgb(17, 72, 56);
    border-radius: 5px;
    position: absolute; 
    top: 70px;
    left:550px;

}
#Sec-4{
    height: 100px;
    width: 100px;
    background-color:  rgb(17, 72, 56);
    border-radius: 5px;
    position: absolute; 
    top: 70px;
    left:690px;
  
}
#Sec-5{
    height: 100px;
    width: 100px;
    background-color:  rgb(17, 72, 56);
    border-radius: 5px;
    position: absolute; 
    top: 70px;
    left: 830px;
}
#Sec-6{
    height: 100px;
    width: 360px;
    background-color:  rgb(17, 72, 56);
    border-radius: 5px;
    padding: 20px;
 position: relative;
   left: 560px;
   bottom:150px;
    
}
#Boxes{
    position: absolute;
    top: 20px;
    padding:30px;
}

